.deck-card{
  background-color: rgba(39, 39, 39, 0.8);
  border: none;
  padding: 1rem;
  margin:10px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px 5px rgb(37, 37, 37);
  font-family: 'Poiret One', cursive;
  color: rgb(225, 225, 225);
}

html{
  background: url("../public/background.jpg") center center fixed no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body{
  background: none;
}

.deck-card-img{
  max-width:100%;
  height: auto;
}

.view-btn{
  position: relative;
  background-color: rgb(33, 88, 207);
  color:rgb(40, 40, 40);
  border: none;
}

.view-btn:hover, .view-btn:focus{
  box-shadow: 0.3em 0.3em 0.3em -0.1em rgb(100, 193, 243);
  transform: translateY(-0.05em);
  background-color: rgb(100, 193, 243);
  color:rgb(40, 40, 40);
}

.submit-btn{
  position: relative;
  background-color: rgb(33, 207, 56);
  color:rgb(40, 40, 40);
  border: none;
  margin-top: 5vh;
}

.submit-btn:hover, .submit-btn:focus{
  box-shadow: 0.3em 0.3em 0.3em -0.1em rgb(4, 121, 17);
  transform: translateY(-0.05em);
  background-color: rgb(8, 148, 19);
  color:rgb(40, 40, 40);
}

.deck-form{
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.title{
  margin-top: 3vh;
  font-size: 8vh;
  padding: 3%;
  font-family: 'Poiret One', cursive;
  color: rgb(202, 202, 202);
}

.ygo-card{
  padding: 0;
  margin: 0;
  width: 100%;
}

.editor{
  background-color: rgba(146, 146, 146, 0.8);
  padding: 2%;
  margin-top: 3vh;
  margin-bottom: 10vh;
}

.deck{
  background: none;
  border: none;
  padding: 2%;
  margin-top: 0;
}

.user-form{
  background-color: rgba(39, 39, 39, 0.8);
  border: none;
  padding: 1rem;
  margin:10px;
  border-radius: 25px;
  box-shadow: 5px 5px 10px 5px rgb(37, 37, 37);
  font-family: 'Poiret One', cursive;
  color: rgb(225, 225, 225);
}

.user-form-input, .user-form-input::placeholder{
  background-color: rgb(75, 75, 75);
  color:rgb(215, 215, 215);
  border:none;
}

.user-form-input:active, .user-form-input:focus, .user-form-input:valid, .user-form-input:-webkit-autofill{
  background-color: rgb(75, 75, 75);
  color:rgb(215, 215, 215);
  border:none;
}